@charset "UTF-8";
@font-face{
 font-family:'Android';
 src: url('fontes/droid.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --cor0: #E2FDFF;
  --cor1: #8CD790;
  --cor2: #77AF9C;
  --cor3: #285943;
  --cor4: #D7FFF1;
  --cor5: #AAFCB8;
  
  --fonte-normal: Arial, Verdana, Helvetica, Sans-Serif;
}

*{
  margin:0px;
  padding:0px;
}

body{
  margin: 0px;
  background-color: var(--cor0);
  border: 1px solid black;
 }
 
header{
  margin: 0em;
  background-image: linear-gradient(to bottom,var(--cor1), var(--cor2));
  width:100%;
  
}

body > header {
  margin:0px;
}

header > h1 {
  color:white;
}

header > p {
  color:white;
  text-align: center;
  font-weight: 100;
  padding-bottom: 15px;
  padding-top:15px;
}

nav > a {
  text-decoration: none;
  color:white;
  text-align: left ;
  padding: 5px ;
}

nav{
   background-color: var(--cor2);
   margin: 0px;
   padding: 5px;
}

.link{
  text-decoration: none;
}

nav > a:hover{
  text-decoration: underline;
  transition-duration: 1s;
  background-color: var(--cor3);
  border-radius: 5px;
}

#titulo{
  text-align: center;
}

main{
  margin: auto;
  margin-bottom: 30px;
  border:0.1px solid black;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main  h1{
  font-family: 'Android', Times, Serif;
  padding: 5px;
  color:var(--cor3);
}

main  h2{
  font-family: 'Android', Times, Serif;
  padding:5px;
  color:var(--cor3);
}

main  p{
  text-indent: 15px;
  font-family: "Quicksand";
  font-size: 1em;
  line-height: 1.5em;
}

.foto{
  width:95%;
  margin:auto;
  display: block;
}

.foto2{
display: block;
margin: auto;
}

section{
  background-color:var(--cor3);
  max-width:1200px;
  margin:0px auto;
}

#video{
  width:100%;
  max-width:1200px;
  margin:50px 0px;
}

article{
  background-color:var(--cor4);
  margin: 10px auto;
  width:95%;
  border: 1px solid black;
  max-width: 1200px;
  border-radius: 5px;
}

article > p#extra{
  background-color: var(--cor5);
  border: 1px solid black;
  margin: 0px;
  text-align:center;
}

footer{
  background-color:var(--cor3);
  border:0.01px solid black;
  font-family: 'Quicksand', cursive;
}

body > footer {
  margin:0px;
  width: 100%;
}

p{
  text-align: justify;
  padding: 0.625em;
  font-family: var(--fonte-normal);
}

h2{
  background-image: linear-gradient(to right,var(--cor4), white);
}
article > p{
  text-indent:15px;
}
main > article{
  width: 90%;
}
ul{
  margin:10px 30px;
}
body > main{
  max-width: 800px;
}
strong{
  background-color: var(--cor5);
  border-radius: 5px;
  font-weight: bold;
  padding: 2px ;
}